$iphone: 375px;

body {
	padding: 16px 8px;
	overflow-x: scroll;
}

h1 {
	font-size: 32px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
	padding: 8px 0;
	white-space: nowrap;
	* {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		width: 32px;
		height: auto;
		@media screen and (max-width: $iphone) {
			width: 24px;
		}
	}
	span {
		margin: 0 8px;
		font-size: 16px;
		font-family: monospace;
		@media screen and (max-width: $iphone) {
			font-size: 12px;
		}
	}
}
