$iphone: 375px;

body {
	padding: 16px 8px;
	overflow-x: scroll;
}

h1 {
	font-size: 32px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
	color: #0000ff;
	&:hover, &:visited, &:active {
		color: #0000ff;
	}
}

div {
	padding: 8px 0;
	white-space: nowrap;
	* {
		display: inline-block;
		vertical-align: middle;
	}
	img {
		width: 32px;
		height: auto;
		@media screen and (max-width: $iphone) {
			width: 24px;
		}
	}
	p {
		margin-left: 12px;
		font-size: 16px;
		font-family: monospace;
		white-space: pre-wrap;
		word-wrap: break-word;
		@media screen and (max-width: $iphone) {
			margin-left: 8px;
			font-size: 12px;
		}
	}
}
