@import "normalize";

$iphone: 375px;

.app-container {
    max-width: 100%;
    overflow-x: hidden;
	padding: 16px;
	h1 {
		font-size: 48px;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		line-height: 1.1;
	}
	a {
		color: #0000ff;
		&:hover, &:visited, &:active {
			color: #0000ff;
		}
		&.data {
			transition: opacity 500ms ease;
		}
	}
	div {
		width: 90%;
		padding: 12px 0;
		white-space: nowrap;
		> img, div {
			display: inline-block;
			vertical-align: middle;
		}
		img {
			width: 32px;
			height: auto;
			@media screen and (max-width: $iphone) {
				width: 24px;
			}
		}
		div {
			margin-left: 16px;
			font-size: 16px;
			font-family: monospace;
			span, a {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 4px 0 8px 48px;
			@media screen and (max-width: $iphone) {
				margin-left: 40px;
			}
			li {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			b {
				margin-right: 4px;
			}
		}
	}
}
