$iphone: 375px;

.app-container {
    max-width: 100%;
    overflow-x: hidden;
	padding: 16px;
	h1 {
		font-size: 48px;
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		line-height: 1.1;
	}
	div {
		width: 90%;
		padding: 8px 0;
		white-space: nowrap;
		* {
			display: inline-block;
			vertical-align: middle;
		}
		img {
			width: 32px;
			height: auto;
			@media screen and (max-width: $iphone) {
				width: 24px;
			}
		}
		p {
			margin-left: 12px;
			font-size: 16px;
			font-family: monospace;
			white-space: pre-wrap;
			word-wrap: break-word;
			@media screen and (max-width: $iphone) {
				margin-left: 8px;
				font-size: 14px;
			}
		}
		a {
			color: #0000ff;
			&:hover, &:visited, &:active {
				color: #0000ff;
			}
		}
		.data {
			transition: opacity 500ms ease;
		}
	}
}
