@import "normalize";
@import "fonts";

$black: #272727;

html {
    font-size: 100%;
}

#app {
	max-width: 700px;
	padding: 4em 2em;
	margin: 0 auto;
	text-align: center;
    font-family: "mono", monospace;
    font-size: 1rem;
	line-height: 2;
	color: $black;
}

#listening {
	opacity: 0;
	transition: opacity 500ms;
}

h1 {
	margin: 0.5em 0;
	font-size: 3rem;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.2;
}

p {
	margin: 1em 0;
	font-size: 1rem;
}

a {
	text-decoration: none;
	border-bottom: 0.15em solid $black;
	color: $black;
	&:hover {
		color: $black;
	}
	&:active {
		color: $black;
	}
	&:visited {
		color: $black;
	}
}
