@import "normalize";
@import "fonts";

$black: #272727;
$iphone: 375px;
$width: 700px;

html {
    font-size: 100%;
}

body {
	max-width: $width;
	padding: 4em;
	margin: 0 auto;
    font-family: "mono", monospace;
    font-size: 1rem;
	line-height: 2;
	color: $black;
	@media (max-width: ($width)) {
		padding: 4em 2em;
	}
	@media (max-width: $iphone) {
		padding: 2em;
	}
}

h1 {
	margin: 0.5em 0;
	font-size: 4rem;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1.2;
}

p {
	margin: 1em 0;
	font-size: 1rem;
}

a {
	text-decoration: none;
	border-bottom: 0.15em solid $black;
	color: $black;
	&:hover {
		color: $black;
	}
	&:active {
		color: $black;
	}
	&:visited {
		color: $black;
	}
}
